<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="button" scope="locale">
            <name>import_currencies</name>
            <label>Währungen importieren</label>
            <options>
                <handler>
                    <![CDATA[
                    function(button) {
                        Ext.Ajax.request({
                            url: window.location.href + 'KskEcbCurrency/populateCurrencies/',
                            method: 'POST',
                            success: function (operation, opts) {
                                var response = Ext.decode(operation.responseText);

                                if (response.success) {
                                    Shopware.Notification.createGrowlMessage('Erfolgreich', 'Alle Währungen wurden importiert.');
                                }
                            }
                        });
                    }
                    ]]>
                </handler>
            </options>
        </element>
        <element required="true" type="select" scope="locale">
            <name>update_strategy</name>
            <label>Aktualisierungsstrategie</label>
            <value>live</value>
            <store>
                <option>
                    <value>live</value>
                    <label>Live</label>
                </option>
                <option>
                    <value>cache</value>
                    <label>Live (1 Stunde Cache)</label>
                </option>
                <option>
                    <value>cron</value>
                    <label>Cronjob</label>
                </option>
            </store>
        </element>
        <element required="true" type="number" scope="locale">
            <name>security_surcharge</name>
            <label>Aufschlag (prozentual)</label>
            <value>0</value>
            <description>Definiere einen Aufschlag, der auf die importierten Kurse aufgeschlagen wird.</description>
        </element>
    </elements>

</config>
